.title_element {
    border: 3px solid red;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    padding: 10px;
    margin-right: 50px;
}

#title_container {
    width: 100%;
    display: flex;
}

#config_box {
    width: 100%;
    display: flex;
}

.config_item {
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

canvas {
    border: 1px solid black;
}